@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* TYPOGRAPHY */
  --FF-type: "Figtree", sans-serif;

  --FW-light: 500;
  --FW-bold: 800;

  /* COLORS */
  --Primary-Yellow: hsl(47, 88%, 63%);

  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-Grey-500: hsl(0, 0%, 50%);
  --Neutral-Black-950: hsl(0, 0%, 7%);

  /* BORDER RADIUS */
  --Border-Radius-Big: 2em;
  --Border-Radius-Small: 1.5em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@media (max-width: 69em) {
  html {
    font-size: 50.25%;
  }
}
@media (max-width: 55.625em) {
  html {
    font-size: 39.25%;
  }
}
@media (max-width: 43.625em) {
  html {
    font-size: 26.25%;
  }
}
@media (max-width: 29.4375em) {
  html {
    font-size: 20.25%;
  }
}
body {
  background-color: var(--Primary-Yellow);
  font-family: var(--FF-type, sans-serif);
}
main {
  max-width: calc(22em + 20vw);
  margin: 5em auto;
  padding: calc(1.5em + 0.8vw);
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  box-shadow: 0.6em 0.8em var(--Neutral-Black-950);
  background-color: var(--Neutral-White);
  border-radius: var(--Border-Radius-Big);
  border: 0.5px solid var(--Neutral-Black-950);
}
@media (max-width: 29.4375em) {
  main {
    margin: 10em auto;
  }
}

/*=====================================
=            Header Styles            =
=====================================*/
.main-header {
  display: flex;
  flex-direction: column;
  gap: 2.4em;
  border-radius: inherit;
}

/* Image & image container styles */
.img-container {
  border-radius: inherit;
}
.img-container img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--Border-Radius-Small);
}

/* Text and primary heading styles */
.heading-text,
.publish-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2em;
}

.publish-text {
  font-size: calc(0.4rem + 1vw);
  font-weight: var(--FW-light);
  line-height: 1.6;
  gap: 0.8em;
}
.publish-text .learning {
  background-color: var(--Primary-Yellow);
  font-weight: var(--FW-bold);
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
}

.heading-primary {
  font-weight: var(--FW-bold);
  font-size: calc(2rem + 0.8vw);
  color: var(--Neutral-Grey-950);
  line-height: 0.5px;
  letter-spacing: -0.5px;
  text-shadow: 0.2px -0.2px var(--Neutral-Grey-500);
}

/*=====================================
=            Body Styles            =
=====================================*/
.main-body {
  margin-top: 2.4em;
}
.body-text {
  font-size: calc(1.8rem + 0.2vw);
  color: var(--Neutral-Grey-500);
  line-height: 1.5;
}
.profile {
  display: flex;
  align-items: center;
  gap: 1.6em;
}
.profile img {
  display: block;
  width: calc(6.5em - 1.5vw);
  height: auto;
}
.profile .caption {
  font-size: calc(0.8rem + 0.5vw);
  font-weight: var(--FW-bold);
  color: var(--Neutral-Black-950);
}

/*=====================================
=            Footer Styles            =
=====================================*/
.attribution {
  font-size: calc(0.8rem + 1vw);
  font-family: var(--FF-type, sans-serif);
  text-align: center;
  margin-inline: auto;
  margin: 2.5em;
}
.attribution a:link {
  font-style: inherit;
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:visited {
  color: hsl(300, 34%, 33%);
}
.attribution a:hover {
  color: #999;
  text-decoration: underline;
}
.attribution a:active {
  color: var(--Neutral-Black);
}

.name {
  font-weight: var(--FW-bold);
  font-style: italic;
  color: #333;
}
.frontend-mentor {
  font-weight: var(--FW-light);
  font-style: oblique;
  color: #555;
}
