@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  /* TYPOGRAPHY */
  --FF-type: "Figtree", sans-serif;

  --FW-light: 500;
  --FW-bold: 800;

  --FS-normal: 1rem;

  /* COLORS */
  --Primary-Yellow: hsl(47, 88%, 63%);

  --Neutral-White: hsl(0, 0%, 100%);
  --Neutral-Grey: hsl(0, 0%, 50%);
  --Neutral-Black: hsl(0, 0%, 7%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Primary-Yellow);
  font-family: var(--FF-type, sans-serif);
}

.wrapper {
  border: 1px solid var(--Neutral-Black);
  background-color: var(--Neutral-White);
  box-shadow: 0.4em 0.4em var(--Neutral-Black);
  max-width: calc(17em + 16vw);
  border-radius: calc(0.8em + 1vw);
  margin: 5em auto;
}

.card {
  padding: calc(0.5em + 1vw);
  border-radius: calc(0.8em + 1vw);
}

.mini-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.6em;
  border-radius: 0.8em;
}

.top {
  border-radius: 0.8em;
}
.top img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.8em;
}

.main-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8em;
  padding-block: 0.8em;
  border-radius: 0.8em;
}

.learn {
  font-weight: var(--FW-bold);
  font-size: calc(0.5rem + 1vw);
  color: var(--Neutral-Black);
  text-align: center;
  padding: 0.5em 0.8em;
  border-radius: 0.4em;
  background-color: var(--Primary-Yellow);
}

.info-container p {
  font-weight: var(--FW-light);
  font-size: calc(0.5rem + 0.8vw);
  color: var(--Neutral-Black);
}

.info-container a:link,
.info-container a:visited {
  font-size: calc(0.7rem + 1.6vw);
  color: var(--Neutral-Black);
  text-decoration: none;
  font-weight: var(--FW-bold);
}

.info-container a:hover,
.info-container a:focus {
  color: var(--Primary-Yellow);
  caret-color: var(--Neutral-Black);
}

.card > p {
  color: var(--Neutral-Grey);
  font-weight: var(--FW-light);
  font-size: calc(0.5rem + 1vw);
  line-height: 1.6;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 1.5em 0.5em 0 0;
}
.avatar img {
  width: calc(1em + 5%);
  height: auto;
}
figcaption span {
  font-weight: var(--FW-bold);
  color: var(--Neutral-Black);
  font-family: var(--FF-type, sans-serif);
  font-size: calc(0.5rem + 0.5vw);
}

.attribution {
  font-size: calc(1rem + 1vw);
  font-family: var(--FF-type, sans-serif);
  font-weight: var(--FW-light);
  text-align: center;
  margin-inline: auto;
  margin: 2.5em;
}
.attribution a:link {
  font-weight: var(--FW-bold);
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
.attribution a:visited {
  color: hsl(300, 34%, 33%);
}
.attribution a:hover {
  color: #333;
  text-decoration: underline;
}
.attribution a:active {
  color: var(--Neutral-Black);
}
